/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
  
  /* The sidebar links */
.sidebar li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidebar li:hover {
    color: #f1f1f1;
}
  
  /* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
  /* The button used to open the sidebar */
.openbtn {
    cursor: pointer;
    border: 1px;
    background-color: transparent;
    margin: 0px;
    margin-left: 10px;
    margin-right: -20px;
    padding: 15px;
    color: whitesmoke;
}
  
.openbtn:hover {
    background-color: #DDDDDD;
}
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 0px;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}


#server-table tbody tr > th {
  position: relative;
  height: 8px;
  display: block;
}

#server-table tbody tr > th:before {
  content: "•";
  color: #FFFFFF;
  font-size: 48px;
  position: absolute;
  top: -5px;
  left: 24px;
  opacity: 1;
}

#server-table tbody tr.state-0 > th:before { /* running */
  color: #1abc9c;
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


#server-table tbody tr.state-1 > th:before { /* warn */
  color: #f1c40f;
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


#server-table tbody tr.state-2 > th:before { /* danger */
  color: #e74c3c;
  animation-name: flash;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}


#server-table tbody tr.state-3 > th:before { /* offline */
  color: #7f8c8d;
  opacity: 0;
}

@keyframes flash {
  0%   {opacity: 0; }
  50%  {opacity: 1;}
  100% {opacity: 0;}
}