<footer class="footer footer-black footer-white ">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
            </nav>
            <div class="ml-auto">
                <ul>
                    <li><a href="https://github.com/help-14/easy-monitor" target="_blank">Github</a></li>
                    <li><a href="https://github.com/help-14/easy-monitor/wiki" target="_blank">Document</a></li>
                    <li><a href="https://github.com/help-14/easy-monitor/blob/master/LICENSE"
                            target="_blank">Licenses</a></li>
                </ul>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    ©
                    <script> document.write(new Date().getFullYear()) </script>,
                    made with <i class="fa fa-heart heart"></i> by <a href="https://help14.com"
                        target="_blank">Help-14</a>
                </span>
            </div>
        </div>
    </div>
</footer>
</div>
</div>


<!--   Core JS Files   -->
<script src="./js/core/jquery.min.js"></script>
<script src="./js/core/popper.min.js"></script>
<script src="./js/core/bootstrap.min.js"></script>
<script src="./js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!-- Chart JS -->
<script src="./js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="./js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="./js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
<script src="./demo/demo.js"></script>
<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
        demo.initChartsPages();
    });
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    var navOpened = false;
    function navControl() {
        if (navOpened) {
            navOpened = false;
            closeNav();
        } else {
            navOpened = true;
            openNav();
        }
    }
</script>

</body>

</html>