<div id="mySidebar" class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://hub.finsify.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="./img/logo-small.png">
            </div>
        </a>
        <a href="https://hub.finsify.com" class="simple-text logo-normal">
            <%= website.toUpperCase() %>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="./">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="./servers">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Server List</p>
                </a>
            </li>
            <li>
                <a href="./services">
                    <i class="nc-icon nc-app"></i>
                    <p>Services</p>
                </a>
            </li>
            <li>
                <a href="./remote">
                    <i class="nc-icon nc-tap-01"></i>
                    <p>Remote</p>
                </a>
            </li>
            <li>
                <a href="./users">
                    <i class="nc-icon nc-single-02"></i>
                    <p>Users</p>
                </a>
            </li>
            <li>
                <a href="./setting">
                    <i class="nc-icon nc-settings"></i>
                    <p>Setting</p>
                </a>
            </li>
            <li>
                <a href="./notifications">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="active-pro">
                <a onclick="closeNav()">
                    <i class="nc-icon nc-simple-remove"></i>
                    <p>Close</p>
                </a>
            </li>
        </ul>
    </div>
</div>